__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.venv/
venv/
dataset/
yolo_dataset/
*.mp4
*.avi
*.jpg
*.png
*.zip
*.tar.gz
*.pt
*.pth
*.onnx
*.engine
train_exp/
runs/
# Runs and heavy weights
**/runs/
**/training_run_*/
*.mp4
*.avi
outputs/temp_raw_output.mp4
outputs/demo_output*.mp4
app/output_rescue_demo.mp4
.gradio/
